*{
    font-family: 'Questrial', sans-serif; 
}


.encabezado {
    background-color: #8793E8;                     
}


.principal {
    font-size: 1.3em;
}

input:focus {
    background-color: #8793E8; 
}

.btn:hover {
    transform: scale(1.25);
}

.flex {
    display: flex;
}



    /* Efectos para el Menu del encabezado  
        Luego de los <a>
        <div class="marca1"></div> 



.nav a {
    border-right: 2px solid #fff;
    position: relative;
    z-index: 2;
    }
    .nav a:last-child {
    border-right:2px solid transparent;
    }
    .marca1 {
    box-sizing: border-box;
    position: absolute;
    bottom: 45%;
    left: 8%;
    width: 10%;
    height: 2px;
    background: #fff;
    opacity:.5;
    transition: 0.5s ease-in-out;
    z-index: 1;
    }



    .nav a:nth-child(2):hover ~ .marca1 {
    left: 32%; 
    }

    .nav a:nth-child(3):hover ~ .marca1 {
    left: 65%; 
    }


    /* Efectos para el Menu del Footer         
        Luego de los <a>
        <div class="marca1"></div> 


    .nav a {
        border-right: 2px solid rgb(255, 255, 255);
        position: relative;
        z-index: 2;
        }
        .nav a:last-child {
        border-right:2px solid transparent;
        }
        .marca2 {
        box-sizing: border-box;
        position: absolute;
        bottom: 17%;
        left: 9%;
        width: 10%;
        height: 2px;
        background: #fff;
        opacity:.5;
        transition: 0.5s ease-in-out;
        z-index: 1;
        }
    
    
    
        .nav a:nth-child(2):hover ~ .marca2 {
        left: 34%; 
        }
    
        .nav a:nth-child(3):hover ~ .marca2 {
        left: 70%; 
        }

        */